/* styles.css */
header {
    width: 100%;
    background-color: #003366; /* Темно-синий цвет */
    color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo {
    width: 40px; /* Ограничение размера логотипа */
    height: 40px;
    margin-right: 10px;
}

header h1 {
    margin: 0;
    font-size: 24px;
    display: inline;
}

.container {
    display: flex;
    width: 80%;
    height: calc(100vh - 80px); /* Вычитаем высоту заголовка */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 10px;
}



body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: #333;
}

.formula-container {
    width: 80%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 10px;
    padding: 20px;
}

.formula-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.formula-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: monospace;
}

.formula-container button {
    background-color: #003366;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}
